langchain==0.0.284
langchain-classic 
langchain-community
langchain-core
langchain-google-genai 
langchain-huggingface
faiss-cpu==1.8.0 
sentence-transformers
python-dotenv==1.0.0
streamlit==1.22.0 
tiktoken>=0.7.0
protobuf~=3.19.0
pydantic 

   
 


 


